### 开发环境 ###
# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 操作系统生成文件
.DS_Store
Thumbs.db

### 构建产物 ###
# 编译输出
build/
*.o
*.obj
*.a
*.lib
*.bin
*.elf
*.map
*.exe

*.md
# 构建系统
.ninja_deps
.ninja_log
build.ninja
*.ninja
*.timestamp
.bin_timestamp

# CMake生成
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

### ESP-IDF 特殊文件 ###
sdkconfig.old
sdkconfig.defaults.old
managed_components/
dependencies.lock
partition_table/
bootloader/

### 调试相关 ###
# GDB配置
gdbinit/

# 日志文件
*.log
log/

### 临时文件 ###
*.tmp
*.temp
config.env

### 测试相关 ###
# 闪存参数
*flash_args*
flasher_args.json

### 自动生成文件 ###
project_description.json
project_elf_src_*.c
x509_crt_bundle.S

### 第三方依赖 ###
esp-idf/
*-prefix/